<div class="container shutdown-container">
  <div class="row">
    <div class="col-md-12">
      <div class="message-container">
        <div class="alert alert-info" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          This site is no longer being updated. Please refer to the City's new <a href="">contract database</a>. Thank you for three great years of service!
        </div>
      </div>
    </div>
  </div>
</div>
